body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 0 10px gray;
}

h1 {
    color: darkgreen;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}

.summary {
    margin-top: 20px;
    font-size: 18px;
}

.clear-btn {
    background: red;
    margin-top: 15px;
}
